:root {
  --pr-color--black: #0f172a;
  --sc--color--grey: #64748b;
  --bg--color--white: #fdfdfd;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg--color--white);
}
.caption {
  color: var(--sc--color--grey);
}
.hero-heading h1 {
  width: 540px;
  font-size: 48px;
  color: var(--pr-color--black);
}
.hero-caption p {
  font-size: 20px;
  width: 280px;
}
.scroll-down-btn {
  color: var(--pr-color--black);
}
.navbar {
  height: 100px;
}
.project-warp {
  margin-bottom: 32px;
}
.rounded-2 {
  width: 100%;
}
.is--title-card {
  margin-top: 16px;
  color: var(--pr-color--black);
  font-size: 18px;
}
.ft-link {
  color: var(--pr-color--black);
}
@media (max-width: 576px) {
  .container {
    padding: 0px 16px;
  }
  .hero-heading h1 {
    width: 468px;
    font-size: 40px;
  }
  .hero-caption p {
    width: 250px;
    font-size: 18px;
  }
}
@media screen and (max-width: 375px) {
  .hero-heading h1 {
    width: 304px;
    font-size: 24px;
  }
}
